// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 NXP
 */

/dts-v1/;

#include "imx8mm-evk-evse.dts"

/delete-node/ &nxpnfc;

&ecspi2 {
	pinctrl-2 = <&pinctrl_cg5317>;	
	spidev0: spi@0 {
		compatible = "lwn,bk4";
		reg = <0x0>;
		spi-cpha;
		spi-max-frequency = <8000000>;
		spi-cpol;
	};
};

&i2c3 {
	nxpnfc: nxpnfc@28 {
		compatible = "nxp,nxpnfc";
		reg = <0x28>;
		nxp,nxpnfc-irq = <&gpio3 23 GPIO_ACTIVE_HIGH>;
		nxp,nxpnfc-ven = <&gpio3 21 GPIO_ACTIVE_HIGH>;
		nxp,nxpnfc-fw-dwnld = <&gpio3 20 GPIO_ACTIVE_HIGH>;
	};
};

&iomuxc {
	pinctrl_cg5317: cg5317grp {
                fsl,pins = <
                        MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9           0x100
                        MX8MM_IOMUXC_ECSPI1_MISO_GPIO5_IO8          0x100
                >;
        };

};