// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
 */

#include "imx93-11x11-evk.dts"

/delete-node/ &dsi_to_adv7535;
/delete-node/ &adv7535_to_dsi;

/ {
	lvds_panel {
		compatible = "boe,ev121wxm-n10-1850";
		backlight = <&backlight_lvds>;

		port {
			panel_lvds_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};
	sw_keys {
		compatible = "gpio-keys";

		btn1: pause {
			label = "Pause";
			gpios = <&pcal6524 5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_PAUSE>;
			interrupt-parent = <&pcal6524>;
			interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		};

		btn2: new {
			label = "New";
			gpios = <&pcal6524 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_NEW>;
			interrupt-parent = <&pcal6524>;
			interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&adv7535 {
	status = "disabled";
};

&backlight_lvds {
	status = "okay";
};

&dphy {
	status = "disabled";
};

&dsi {
	status = "disabled";
};

&lcdif {
	assigned-clock-rates = <498000000>, <71142857>, <400000000>, <133333333>;
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_lvds_in>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};

&lpi2c1 {
	/* TODO: do we need it? it is not in LVDS support
	   https://github.com/nxp-imx/linux-imx/commit/f867d4740f968f700f64b01450194bbe79eaa483
	*/
	exc80h60: touch@2a {
		compatible = "eeti,exc80h60";
		reg = <0x2a>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctp_int>;
		/*
		 * Need to do hardware rework here:
		 * remove R131, short R181
		 */
		interrupt-parent = <&gpio2>;
		interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&pcal6524 17 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&lpspi6 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi6 &pinctrl_lpspi6_cs>;
	pinctrl-1 = <&pinctrl_lpspi6 &pinctrl_lpspi6_cs>;
	cs-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	status = "okay";

	nxpnfc: nxpnfc@0 {
		compatible = "nxp,nxpnfc";
		reg = <0>;
		nxp,nxpnfc-irq = <&gpio2 22 GPIO_ACTIVE_HIGH>;
		nxp,nxpnfc-ven = <&gpio2 23 GPIO_ACTIVE_HIGH>;
		nxp,nxpnfc-fw-dwnld = <&gpio2 24 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <7000000>;
	};
};

&lpspi7 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi7 &pinctrl_lpspi7_cs>;
	pinctrl-1 = <&pinctrl_lpspi7 &pinctrl_lpspi7_cs>;
	cs-gpios = <&gpio2 4 GPIO_ACTIVE_LOW>;
	status = "okay";

	cg5317: ethernet@0 {
		status = "okay";
		compatible = "cg,cg5317";
		reg = <0x0>;
		interrupts-extended = <&gpio2 12 IRQ_TYPE_EDGE_RISING>, <&gpio2 13 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "gp_irq", "rx_irq";
		spi-cpha; /* SPI mode: CPHA=1 */
		spi-max-frequency = <8000000>; /* freq: 8 MHz */
		iface-name-prefix = "seth";
		iface-idx = <0x0>;
	};

};

&lpuart3 { /* Meter Board*/
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&xcvr {
	status = "disabled";
};

&iomuxc {
	pinctrl_lpspi6: lpspi6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO01__LPSPI6_SIN		0x3fe
			MX93_PAD_GPIO_IO02__LPSPI6_SOUT		0x3fe
			MX93_PAD_GPIO_IO03__LPSPI6_SCK		0x3fe
		>;
	};

	pinctrl_lpspi6_cs: lpspi6cs {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__GPIO2_IO00		0x3fe
		>;
	};

	pinctrl_lpspi7: lpspi7grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO05__LPSPI7_SIN		0x3fe
			MX93_PAD_GPIO_IO06__LPSPI7_SOUT		0x3fe
			MX93_PAD_GPIO_IO07__LPSPI7_SCK		0x3fe

			MX93_PAD_GPIO_IO12__GPIO2_IO12		0x50e
            MX93_PAD_GPIO_IO13__GPIO2_IO13      0x50e
            MX93_PAD_GPIO_IO18__GPIO2_IO18      0x50e
		>;
	};

	pinctrl_lpspi7_cs: lpspi7cs {
		fsl,pins = <
			MX93_PAD_GPIO_IO04__GPIO2_IO04		0x3fe
		>;
	};

	pinctrl_cg5317: cg5317grp {
        fsl,pins = <
            MX93_PAD_GPIO_IO12__GPIO2_IO12		0x50e
            MX93_PAD_GPIO_IO13__GPIO2_IO13      0x50e
            MX93_PAD_GPIO_IO18__GPIO2_IO18      0x50e
        >;
    };


	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO14__LPUART3_TX		0x31e
			MX93_PAD_GPIO_IO15__LPUART3_RX		0x31e
		>;
	};

	/* TODO: do we need it? it is not in LVDS support
	   https://github.com/nxp-imx/linux-imx/commit/f867d4740f968f700f64b01450194bbe79eaa483
	*/
	pinctrl_ctp_int: ctp_int_grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO21__GPIO2_IO21          0x31e
		>;
	};
};
