// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 NXP
 */

/dts-v1/;

#include "imx93-11x11-evk.dts"

/delete-node/ &dsi_to_adv7535;
/delete-node/ &adv7535_to_dsi;

/ {
	lvds_backlight: lvds_backlight {
		compatible = "pwm-backlight";
		pwms = <&adp5585 0 100000 0>;
		enable-gpios = <&adp5585 8 GPIO_ACTIVE_HIGH>;
		power-supply = <&reg_vdd_12v>;
		status = "okay";

		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		default-brightness-level = <80>;
	};

	lvds_panel {
		compatible = "boe,ev121wxm-n10-1850";
		backlight = <&lvds_backlight>;

		port {
			panel_lvds_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};
	sw_keys {
		compatible = "gpio-keys";

		btn1: pause {
			label = "Pause";
			gpios = <&pcal6524 5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_PAUSE>;
			interrupt-parent = <&pcal6524>;
			interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		};

		btn2: new {
			label = "New";
			gpios = <&pcal6524 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_NEW>;
			interrupt-parent = <&pcal6524>;
			interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&adv7535 {
	status = "disabled";
};

&dphy {
	status = "disabled";
};

&dsi {
	status = "disabled";
};

&lcdif {
	assigned-clock-rates = <498000000>, <71142857>, <400000000>, <133333333>;
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_lvds_in>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};

&lpi2c1 {
	/* TODO: do we need it? it is not in LVDS support
	   https://github.com/nxp-imx/linux-imx/commit/f867d4740f968f700f64b01450194bbe79eaa483
	*/
	exc80h60: touch@2a {
		compatible = "eeti,exc80h60";
		reg = <0x2a>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctp_int>;
		/*
		 * Need to do hardware rework here:
		 * remove R131, short R181
		 */
		interrupt-parent = <&gpio2>;
		interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&pcal6524 17 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&lpspi6 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi6 &pinctrl_lpspi6_cs>;
	pinctrl-1 = <&pinctrl_lpspi6 &pinctrl_lpspi6_cs>;
	cs-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	status = "okay";

	nxpnfc: nxpnfc@0 {
		compatible = "nxp,nxpnfc";
		reg = <0>;
		nxp,nxpnfc-irq = <&gpio2 22 GPIO_ACTIVE_HIGH>;
		nxp,nxpnfc-ven = <&gpio2 23 GPIO_ACTIVE_HIGH>;
		nxp,nxpnfc-fw-dwnld = <&gpio2 24 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <7000000>;
	};
};

&lpuart3 { /* Meter Board*/
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&xcvr {
	status = "disabled";
};

&iomuxc {
	pinctrl_lpspi6: lpspi6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO01__LPSPI6_SIN		0x3fe
			MX93_PAD_GPIO_IO02__LPSPI6_SOUT		0x3fe
			MX93_PAD_GPIO_IO03__LPSPI6_SCK		0x3fe
		>;
	};

	pinctrl_lpspi6_cs: lpspi6cs {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__GPIO2_IO00		0x3fe
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO14__LPUART3_TX		0x31e
			MX93_PAD_GPIO_IO15__LPUART3_RX		0x31e
		>;
	};

	/* TODO: do we need it? it is not in LVDS support
	   https://github.com/nxp-imx/linux-imx/commit/f867d4740f968f700f64b01450194bbe79eaa483
	*/
	pinctrl_ctp_int: ctp_int_grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO21__GPIO2_IO21          0x31e
		>;
	};
};
